body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS register*/

.iniciar-sesion {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 0px;
  top: 0;
  color: red;
}
#name {
  margin-left: 10px;
}

#apellido{
  margin-left: 10px;

}

#celular{
  margin-left: 10px;
}

#email {
  margin-left: 10px;
}

#password {
  margin-left: 10px;
}

/* CSS login*/

.iniciar-sesion {
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 0;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-right: 0px;
  top: 0;
  color: red;
}
#name {
  margin-left: 10px;
}

#email {
  margin-left: 10px;
}

#password {
  margin-left: 10px;
}
