<footer class="main-footer">
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                <i class="iconosFooter"> <ion-icon name="eye-outline"></ion-icon></i>    
                    <h2 class="tipografia1">El Principito</h2>
                    <p class="tipografia1">"He aquí mi secreto: solo con el corazón se puede ver bien. Lo esencial es invisible a los ojos"</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                <i class="iconosFooter"> <ion-icon name="heart-outline"></ion-icon></i>   
                    <h2 class="tipografia1"> Los Miserables</h2>
                    <p class="tipografia1"> "Si eres piedra, sé un imán; si eres planta, sé una sensitiva; si eres hombre, sé amor."</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                <i class="iconosFooter"><ion-icon name="star-outline"></ion-icon> </i>   
                    <h2 class="tipografia1">El Alquimista</h2>
                    <p class="tipografia1">“Es justamente la posibilidad de realizar un sueño lo que hace que la vida sea interesante.”</p>
                </article>
            </div>
        </div>
    </div>

    <footer class="footertodo ">
        <div class="footer2">
            <ul class="contenedor-footer">
    
                <li class="redes">
                    <a href="" class="uk-icon-button uk-margin-small-right"
                        uk-icon="twitter"></a>
                    <a href="" class="uk-icon-button  uk-margin-small-right"
                        uk-icon="facebook"></a>
                    <a href="" class="uk-icon-button" uk-icon="instagram"></a>
                    <a href="" class="uk-icon-button" uk-icon="youtube"></a>
                </li>
                <li class="nombres">
                    <h5 class="tipografia1">@2021 Pilar Ponce, Martina Tomlianovich, Luz Vedoya</h5>
                </li>
                <li class="loogtmbd"><img src="imagenes/marca/logo.jpg" alt=""></li>
            </ul>
        </div>
    
    
        <ul class=" footertexto uk-subnav uk-subnav-divider" uk-margin>
    
            <li><a href="#" class="tipografia1">Ayuda</a></li>
            <li><a href="#" class="tipografia1">Términos de Uso</a></li>
            <li><a href="#" class="tipografia1">Contactanos</a></li>
            <li><a href="#" class="tipografia1">Privacidad</a></li>
        </ul>
    </footer>

</footer>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
