<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>

    <title>Gardenia Libros</title>
    <!-- Font Awesome Stylesheet -->
    
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header class="main-header">
        <div class="container">
            <div class="entero">
                <div class="lafotodellogo">
                    <a href="/" class="main-header_home-link">
                        <img class="logofoto" src="./images/marca/logo.jpg.png">
                    </a>
                </div>

                <div class="col-71 col-md-6">
                    <form action="" method="GET" class="search-logueado">
                        <input type="text" name="search" placeholder="Busca libros, autores y más..."
                            class="search-logueado_input">
                        <button type="submit" class="search-logueado_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <ul class="right-navbar">
                    <li>
                        <a class="tipografia1 creaIngresa" href="http://localhost:3000/profile">
                            Kim Kardashian <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="logout" href="http://localhost:3000/">
                        Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a  class="tipografia1 creaIngresa" href="http://localhost:3000/productadd">
                            Agregar libro
                            <ion-icon name="add-circle-outline" class="mas">Agregar libro</ion-icon>
                        </a>
                    </li>
                    
                </ul>
                
            </div>

        </div>
    </header>
    <!-- /Header -->

</body>

</html>