<header class="main-header">
        <div class="container">
            <div class="entero">
                <div class="lafotodellogo">
                    <a href="/" class="main-header_home-link">
                        <img class="logofoto" src="./images/marca/logo.jpg.png">
                    </a>
                </div>

                <div class="col-71 col-md-6">
                    <form action="" method="GET" class="search-logueado">
                        <input type="text" name="search" placeholder="Busca libros, autores y más..."
                            class="search-logueado_input">
                        <button type="submit" class="search-logueado_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>

                <ul class="right-navbar">
                    <li>
                        <a class="tipografia1 creaIngresa" href="/profile">
                            Kim Kardashian <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="logout" href="/">
                        Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                        </a>
                    </li>
                    
                    
                </ul>
                
            </div>
            <div class= "libroyproductos">
            <a  class="tipografia1 creaIngresa" href="/productadd">
                Agregar libro
                <ion-icon name="add-circle-outline" class="mas">Agregar libro</ion-icon>
            </a>
            <div class="col-7 col-md-6 listaHeader">
                <a href="/" class="tipografia1 creaIngresa">Todos los productos</a>
            </div>
        </div>
        </div>
    </header>
