<!-- Header -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
        
    <title>Gardenia Libros</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<header class="main-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5 col-md-2">
                <a href="/" >
                    <img class="logofoto1" src="/images/marca/logo.jpg.png">
                </a>
            </div>

            <div class="col-7 col-md-6" id="buscador">
                <form action="search-results.html" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más"
                        class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <ul class="listaHeader">
                <li>
                    <a href="http://localhost:3000/register" class="tipografia1 creaIngresa">Creá tu cuenta <i class="far fa-address-card"></i>
                    </a>
                </li>
                <li class="ingresa">
                    <a href="http://localhost:3000/login" class="tipografia1 creaIngresa">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
            </ul>
        </div>
        <button class="btn-toggle-navbar">
            <i class="fas fa-bars"></i>
        </button>
    </div>
</header>