<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/headLogueado')%>
<!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Header -->

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="agregar">Agregar Productos</h2>
        </div>
   
    <form class="form3" action="/productadd" method="post" id="form">
        <label class="palabra" >  Nombre: <input class="inputs" type="text" name="nombre"> </label>
        <label class="palabra">  Autor: <input class="inputs"type="text" name="autor"></label>
        <label class="palabra">  Foto: <input class="inputs"type="text" name="foto"></label>
        <label class="palabra">  Género: <input class="inputs" type="text" name="genero"></label>
        <label class="palabra">  Resumen: <input class="inputs" type="text" name="resumen"></label>
        <label class="palabra">  Año de publicación: <input class="inputs" type="number" name="publicacion"></label>
        <label class="palabra">  Fecha actual: <input class="inputs" type="date" name="fecha"></label>
        <label class="palabra"> <button class="boton1" type="submit">Cargar producto</button>
    </form>
    </div>

        <!-- Form de agregar productos 
        <section class= "formulario3">
            <form class="form3" action="/" method="GET" id="form">    
                        <label class="palabra" for="nombre">Nombre:</label>
                        <input class="inputs" type="text" name="nombre" id="ID">
                        <hr>
                        </hr> 
                    </div>

                    <div class="completa">
                        <label class="palabra" for="autor">Autor:</label>
                        <input class="inputs" type="text" name="autor" id="tipo">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="foto">Foto:</label>
                        <input class="inputs" type="text" name="foto" id="nombre">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="genero">Genero:</label>
                        <input class="inputs" type="text" name="genero" id="foto">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="resumen">Resumen:</label>
                        <input class="inputs" type="text" name="resumen" id="descripción">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="publi">Año de publicacion:</label>
                        <input class="inputs" type="number" name="publi" id="extras">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="fecha">Fecha actual</label>
                        <input class="inputs" type="date" name="fecha" id="extras">
                        <hr>
                        </hr>
                    </div>

                    <div>
                        <button class="boton1" type="submit">Cargar producto</button>
                    </div>
                       
                </div>
                -->
    
            </form>
        </section>

 
</body>
    <!-- footer -->
    <%- include('./partials/footer')%>
        <!-- /footer -->
</html>