<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/headLogueado')%>
<!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Header -->

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="agregar">Agregar Productos</h2>
        </div>
   
    <section class="agregarProducto">
        <form class="forms" action="/productadd" method="post" id="form">
            <label class="palabra" >  Nombre: <input class="inputs" type="text" name="nombre"> </label>
            <label class="palabra">  Autor: <input class="inputs"type="text" name="autor"></label>
            <label class="palabra">  Foto: <input class="inputs"type="text" name="foto"></label>
            <label class="palabra">  Género: <select name:"genero" >
                <option value="thriller">Thriller</option>
                <option value="romance">Romance</option>
                <option value="Ficción">Ficción</option>
                <option value="Novela histórica">Novela histórica</option>
                <option value="Fantasía">Fantasía</option>
                <option value="Terror">Terror</option>
            </select> </label> <br>
            <label class="palabra">  Resumen: <input class="inputs" type="text" name="resumen"></label>
            <label class="palabra">  Año de publicación: <input class="inputs" type="number" name="publicacion"></label>
            <input type="hidden" name="id" value= "<%= idUsuario %>" > 
            <label class="palabra"> <button class="botonAgregarProducto" type="submit">Cargar producto</button>
        </form>
        
    </section>
    </div>
</div>
 
</body>
    <!-- footer -->
    <%- include('./partials/footer')%>
        <!-- /footer -->
</html>