<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./partials/headLogueado')%>
<!-- Head -->
<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado')%>
    <!-- Header -->

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="agregar">Agregar Productos</h2>
        </div>
    <form action="/productadd" method="post">
        Nombre: <input type="text" name="nombre">
        Autor: <input type="text" name="autor">
        Foto: <input type="text" name="foto">
        Género: <input type="text" name="genero">
        Resumen: <input type="text" name="resumen">
        Año de publicación: <input type="number" name="publicacion">
        Fecha actual: <input type="date" name="fecha">
        <input type="submit">
    </form>

        <!-- Form de agregar productos 
        <section class= "formulario3">
            <form class="form3" action="/" method="GET" id="form">    
                        <label class="palabra" for="nombre">Nombre:</label>
                        <input class="inputs" type="text" name="nombre" id="ID">
                        <hr>
                        </hr> 
                    </div>

                    <div class="completa">
                        <label class="palabra" for="autor">Autor:</label>
                        <input class="inputs" type="text" name="autor" id="tipo">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="foto">Foto:</label>
                        <input class="inputs" type="text" name="foto" id="nombre">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="genero">Genero:</label>
                        <input class="inputs" type="text" name="genero" id="foto">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="resumen">Resumen:</label>
                        <input class="inputs" type="text" name="resumen" id="descripción">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="publi">Año de publicacion:</label>
                        <input class="inputs" type="number" name="publi" id="extras">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="fecha">Fecha actual</label>
                        <input class="inputs" type="date" name="fecha" id="extras">
                        <hr>
                        </hr>
                    </div>

                    <div>
                        <button class="boton1" type="submit">Cargar producto</button>
                    </div>
                       
                </div>
                -->
    
            </form>
        </section>

 
</body>
    <!-- footer -->
    <%- include('./partials/footer')%>
        <!-- /footer -->
</html>