<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

    <title> Mercado Liebre Argentina</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado')%>
    <!-- Header -->

    <!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar Productos</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <section>
            <form class="form" action="http://localhost:3000/home" method="GET" id="form">
                <div class="forms">
                    <div class="completa">
                        <label class="palabra" for="name">ID</label>
                        <input class="inputs" type="text" name="id" id="ID">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="name">Tipo</label>
                        <input class="inputs" type="text" name="tipo" id="tipo">
                        <hr>
                        </hr>
                    </div>

                    <div class="completa">
                        <label class="palabra" for="name">Nombre</label>
                        <input class="inputs" type="text" name="nombre" id="nombre">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="name">Foto</label>
                        <input class="inputs" type="text" name="foto" id="foto">
                        <hr>
                        </hr>
                    </div>


                    <div class="completa">
                        <label class="palabra" for="name">Descripción</label>
                        <input class="inputs" type="text" name="descripción" id="descripción">
                        <hr>
                        </hr>

                    <div class="completa">
                        <label class="palabra" for="name">Extras</label>
                        <input class="inputs" type="text" name="extras" id="extras">
                        <hr>
                        </hr>
                    </div>

                        <p class=" iniciar-sesion uk-margin">
                            <a href="http://localhost:3000/product"> <button
                                    class=" texto-boton uk-button uk-button-danger">Cargar producto</button></a>
                        </p>

                    </div>
                    <div id="aviso"> </div>

            </form>
        </section>
            
            


<!-- footer -->
<%- include('./partials/footer')%>
<!-- footer -->
</body>

</html>