<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/headLogueado')%>
<!-- Head -->

<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado')%>
    <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="editatuperfil">Editar mi perfil</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <section class= formulario4>
                <form class="form4" action="http://localhost:3000/" method="GET" id="form">     
                    <div class="forms4">
                        <div class="completa">
                            <label class="palabra" for="name">Nombre</label>
                            <input class="inputs" type="text" name="Nombre" id="name">
                            <hr>
                            </hr>
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Apellido</label>
                            <input class="inputs" type="text" name="Apellido" id="apellido">
                            <hr>
                            </hr>
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Celular</label>
                            <input class="inputs" type="text" name="Celular" id="celular">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="name">Email</label>
                            <input class="inputs" type="email" name="Email" id="email">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="password">Contraseña</label>
                            <input class="inputs" type="password" name="Contraseña" id="password">
                            <hr>
                            </hr>
        
                            <p class=" iniciar-sesion uk-margin">
                                <button class="boton1">Iniciar</button>
                            </p>
                            
                        </div>
                        <div id="aviso"> </div>
        
                </form>
            </section>


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>

