<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

    <title> Gardenia Libros</title>
    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.min.css'>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header')%>
        <!-- /Header -->

    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="registrate">Registrate</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <section class= "formulario1">
                <form class="form" action="http://localhost:3000/home" method="GET" id="form">     
                    <div class="forms">
                        <div class="completa">
                            <label class="palabra" for="name">Nombre</label>
                            <input class="inputs" type="text" name="Nombre" id="name">
                            <hr>
                            </hr>
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Apellido</label>
                            <input class="inputs" type="text" name="Apellido" id="apellido">
                            <hr>
                            </hr>
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Celular</label>
                            <input class="inputs" type="text" name="Celular" id="celular">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="name">Email</label>
                            <input class="inputs" type="email" name="Email" id="email">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="password">Contraseña</label>
                            <input class="inputs" type="password" name="Contraseña" id="password">
                            <hr>
                            </hr>
                        </div>
                    
                    <div class="texto-boton">
                            <p class=" iniciar-sesion uk-margin">
                                <a href="http://localhost:3000/profile"> <button class=" texto-boton uk-button uk-button-danger">Iniciar</button></a>
                            </p>
                            
                    </div>
                    </div>
        
                </form>
            </section>


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>