<!DOCTYPE html>
<html lang="es">

<body>
    <!-- Header -->
    <%- include('./partials/header')%>
        <!-- /Header -->

    <!-- Registrarse -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="registrate">Registrate</h2>
            </div>
            <!-- form de registro -->
            <section class= "formulario1">
                <form class="form" action="http://localhost:3000/profile" method="GET" id="form">     
                    <div class="forms">
                        <div class="completa">
                            <label class="palabra" for="name">Nombre</label>
                            <input class="inputs" type="text" name="Nombre" id="name">
                            <hr>
                            </hr>
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Apellido</label>
                            <input class="inputs" type="text" name="Apellido" id="apellido">
                            <hr>
                            </hr> 
                        </div>

                        <div class="completa">
                            <label class="palabra" for="name">Celular</label>
                            <input class="inputs" type="text" name="Celular" id="celular">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="name">Email</label>
                            <input class="inputs" type="email" name="Email" id="email">
                            <hr>
                            </hr>
                        </div>
        
        
                        <div class="completa">
                            <label class="palabra" for="password">Contraseña</label>
                            <input class="inputs" type="password" name="Contraseña" id="password">
                            <hr>
                            </hr>
                        </div>
                            <button class="boton1" type="submit">Registrate</button>
                        </div>
        
                </form>
            </section>


<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>