<!DOCTYPE html>
<html lang="es">

<body>
<!-- Header -->
<%- include('./partials/header')%>
<!-- /Header -->

    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="tipografia2">Resultados de búsqueda</h2>
            </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
            <a href="/product/1">
                <figure class="product-box_image">
                  <img src="/images/productos/bestseller1.jpg" alt="">
                </figure>
                <article class="product-box_data">
                    <h2 class="tipografia1"> La Chica de Nieve</h2>
                    <p class="tipografia1"> Javier Castillo</p>
                    <p class="tipografia1"> Thriller</p>
                    <style type="text/css">
                        a:link,
                        a:visited,
                        a:active {
                            text-decoration: none;
                        }
                    </style>
                </article>
            </a>
        </section>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        <section class="product-box">
            <figure class="product-box_image">
                <img src="/images/productos/ficcion2.jpg" alt="">
            </figure>
            <article class="product-box_data">
                <h2 class="tipografia1"> La tía cosima</h2>
                <p class="tipografia1"> Florencia Bonelli</p>
                <p class="tipografia1"> Romance contemporáneo, Ficción urbana</p>
                <style type="text/css">
                    a:link,
                    a:visited,
                    a:active {
                        text-decoration: none;
                    }
                </style>
            </article>
            </a>
        </section>
    </div>


 
<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>