<!DOCTYPE html>
<html lang="es">

<body>
<!-- Header -->
<%- include('./partials/header')%>
<!-- /Header -->

    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="tipografia2">Resultados de búsqueda</h2>
            </div>
            <h2 class="col-12"> <i> <br> </h2>

<!-- footer -->
<%- include('./partials/footer')%>
<!-- /footer -->
</body>

</html>